.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container input {
    padding: 12px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--cinza-claro);
    background-color: transparent;
    color: var(--cinza-claro);
}

.container label {
    color: var(--cinza-claro);
}