.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  max-width: 80%;
  margin: 0 auto;
  text-align: left;
  background-image: linear-gradient(
    to top,
    var(--cinza-medio),
    var(--cinza-escuro)
  );
  border: 1px solid var(--cinza);
  border-radius: 2rem;
  overflow: hidden;
}

.title {
  color: var(--cinza-azulado);
  background-color: var(--cinza-escuro);
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  position: relative;
  top: -25px;
}

.form {
  max-width: 90%;
  margin: 0 auto;
  min-width: 80%
}


.button {
  text-align: center;
}

