.card_filmes {
    cursor: pointer;
    text-align: center;
    margin: 1rem;
}

.card_filmes img {
    border-radius: 12px;
}
.card_filmes:hover {
    opacity: 0.4;
}

@media screen and (min-width:700px) {
    .card_filmes {
        display: inline-block;
    }
}