.barra_navegar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: var(--cinza-claro);
    padding: 1.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.icon_home, .icon_arrowback, .icon_logout, .icon_search {
  color: black;
  font-size: 28px;
  font-weight: 500;
}

@media screen and (min-width:700px) {
  .barra_navegar {
    flex-direction: column;
    width: 40px;
    height: 100%;
    align-items: center;
  }


  .barra_navegar li:hover {
    transform: scale(1.08);
  }
}