.container_input {
  width: 85%;
  margin: 0 auto;
}

.container_movies {
  min-height: 100vh;
  padding-bottom: 70px;
}

.subtitulo {
  text-align: center;
  display: block;
  margin-top: 5rem;
}

.subtitulo img {
    margin-top: 2rem;
    width: 35px;
}

.container_search {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}