.loader {  
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 5px solid #0000001a;
  border-top: 5px solid var(--cinza-azulado);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animação */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}