@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* CORES */
    --cinza-escuro:#252526;
    --cinza-medio:#585859;
    --cinza:#AAB9BF;
    --cinza-claro:#C1D4D9;
    --cinza-azulado:#DCEEF2;

    /* CORES HOME */
    --verde-fundo:#0da56b;
    --azul-fundo:#01CDFE;
    --vermelho-fundo:#591C21;
    

    /* FONTE */
    --fonte:"Montserrat", sans-serif;
}

body {
    margin: 0;
    font-family: var(--fonte);
    background-color: var(--cinza-escuro);
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}